.ingredients {
    font-family: "Montserrat", sans-serif;;
    padding: 24px 0;
    border-bottom: 1px solid #CDC6B4;
    justify-content: space-between;
}
.ingredients:last-child {
    border-bottom: none;
}

.ingredient__box {
    display: block;
    width: 100%;
    padding: 0 20px;
}

.ingredient__box__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recipe_editor {
    display: none;
}

.dish_name {
    display: none;
}

.toggle {
    display: flex;
}
.close {
    display: none;
}

.checkbox {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: none;
    display: inline-block;
    margin: 0 20px;
    width: 18px;
    height: 18px;
    border: 2px solid #4B4739;
    accent-color: #6E5D0E;
    border-radius: 4px;
    background-color: transparent;
}

.checkbox:checked {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox;
    display: inline-block;
    margin: 0 20px;
    width: 18px;
    height: 18px;
    border: none;
    color:#1E1B13;
    border-radius: 2px;
    background-color: #6E5D0E;
}

.checkbox:hover {
}

.input__ingredients {
    background-color: transparent;
    border: none;
    outline: none;
    max-width: 100%;
}

.recipe__list {
    margin: 35px 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 376px;
    height: 100%;
    background-color: #EEE7DA;
    border-radius: 28px;
    color: #1E1B13;
}
.recipe__box__tittle {
    margin: 30px;
}



.recipe__box__buttons button{
   background-color: none;
}


@media (max-width: 1000px) {
    .checkbox {
        margin: 0 20px;
        width: 30px;
        height: 30px;
      
    }
    .checkbox:checked {
        
        width: 30px;
        height: 30px;
        
    }
    
}
