
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&family=Poppins:wght@100;200;300;600;700&display=swap');


h1, h2, h3, h4, h5, h6, p {
    color: #0D0D0D;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    
}
h3 {
    font-size: 20px;
}
li {
    list-style: none;
}

:root {
    --title-color: #0D0D0D;
    --bg-color: #FFFBFF;
    --yelow-color: #FDE17B;
    --phiolet: #4E2973;
    --pink: #B796D9;
    --button-color: #EEF26D;


    /* font */
    --Poppins: "Poppins", sans-serif;
    --Montserrat: "Montserrat", sans-serif;
    
}
