body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg-color);
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: none;
}
button {
    color: black;
}